*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.container{
    display: grid;
     border: solid gray ;
     width: 35%;
     height: 45vh;
     text-align: center;
     margin:0 auto;
     margin-top: 200px;
     border-radius: 22px;
     font-size: 25px;
     background-image: url(./19.jpg);
}
h1{
    margin-top: 22px;
}
h2{
    font-size: 45px;
}
.save button{
    background-color: rgb(30, 255, 0);
    padding: 10px 5px 10px 5px;
    width: 250px;
    border-radius: 10px;
    color: rgb(252, 244, 244);
    border: none;
    font-size: larger;
}
.increment button{
    background-color: rgb(252, 4, 4);
    width: 250px;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    color: rgb(253, 251, 251);
    border: none;
    font-size: larger;
}
p{
    margin-top: 50px;
    font-size: 30px;
}
button:hover{
    background-color: rgb(37, 35, 35);
}